.modal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wraps {
  padding: 7px;
}

.modal div {
  max-width: 880px;
  position: relative;
}

.modal div img {
  border-radius: 15px;
}

.modal p {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-top: 30px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  width: calc(100% - 30px);
  display: inline-block;
  transform: translateX(50%);
  border-radius: 0 0 15px 15px;
}
